.test-drive-upper{
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
}

.test-drive-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-drive-model-btn {
  background: none;
  border: none;
  font-weight: 800;
}

.test-drive-model-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.test-drive-form {
  width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.test-drive-terms {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column: span 2;
}

.testInput {
  outline: none;
  padding: 15px;
  width: 330px;
  margin-top: 10px;
}

.comingDiv {
  grid-column: span 2;
}

#next-vehicle {
  width: 330px;
  padding: 15px;
}

.test-div {
  margin-top: 10px;
}

.test-drive-terms {
  margin-top: 35px;
}

.test-drive-terms input {
  margin-top: 10px;
  margin-right: 10px;
}